{{define "posts_submit_comment" "base"}}
    {{block "content"}}
        <div class="content container narrow" role="main">
            <div class="well">
                <legend>New Comment</legend>

                {{range .Errors}}
                <div class="alert alert-danger">{{.}}</div>
                {{else}}{{end}}

                {{template "posts_submit_comment_form" .}}
            </div>
        </div><!-- /.container -->
    {{end}}
{{end}}
